@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #34d399;
  --color-dark: #0a0a0a;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: #e5e7eb;
    /* gray-200 */
    antialiased: true;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}